<form>
  <input type='text' name='guess' />
  <input type='submit' value='Guess!' />
</form>

<html>
  <head></head>
  <body>
    <p>
      <%= message %>
    </p>
    <% if guess == number %>
      <p>
        The SECRET NUMBER is <%= SECRET_NUMBER %>
      </p>
    <% end %>
  </body>
</html>